#controls {
  font-size: 60px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.fas {
  font-size: 40px;
}

.middle-row {
  height: 100px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
